 .hidden{
    visibility: hidden;
} 

#img{
   text-align: center;
   width: 100%;
}



#submitButton{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
}

.allImages{
   display: flex;
   flex-wrap: wrap;
}

.photo{
   max-width: 100%;
}

.lien{
   display: block;
   margin: 5%;
   
}
figure{
   width: 10%;
}

.red{
  color: red !important;
   
} 


@media all { .red {color: red; } }




